<div class="container">
  <%= bless.blessing %> <%= link_to 'Edit' %>  |  <%= link_to 'Delete', [bless.week, bless],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</div>