<%= form_for([@week, @week.shares.build]) do |f| %>
  <div class="form-group">
    <%= f.text_area :questions, class: "form-control" %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>