<div class="container">
  <%= share.questions %> <%= link_to 'Edit' %> | <%= link_to 'Delete', [share.week, share],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</div>

