<div class="container">
  <div class="row">
    <%= form_for [share.week, share] do |f| %>
      <div class="form-group">
        <%= f.text_area :questions, class: 'form-control edit-share' %>
      </div>

      <div class="content-edit-buttons">
        <button type="submit" class="btn btn-primary" title="Save">
          <i class="fa fa-floppy-o fa-lg"></i>
        </button>

        <%= link_to [share.week, share], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', title: "Delete" do %>
          <i class="fa fa-remove fa-lg"></i>
        <% end %>
      </div> 
    <% end %>
  </div>
</div>
