<%= form_for([@week, @week.mealtime_prayers.build]) do |f| %>
  <div class="form-group">
    <%= f.text_area :mealtime_prayer, class: "form-control" %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>