<div class="container">
 <%= memory_verse.verse_address %>:  
 <%= memory_verse.text %>
 <%#= link_to 'Delete Memory Verse', [memory_verse.week, memory_verse], method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

