<div class="container">
  <%= talk.question %> <%= link_to 'Edit' %>  |  <%= link_to 'Delete', [talk.week, talk],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</div>