<div class="container">
  <div class="row">
    <%= form_for [talk.week, talk] do |f| %>
      <div class="form-group">
        <%= f.text_area :question, class: 'form-control edit-talk' %>
      </div>

      <div class="text-right">
        <%= f.button class: 'btn btn-primary', title: "Save" do %>
          <i class="fa fa-floppy-o fa-lg"></i>
        <% end %>

        <%= link_to [talk.week, talk], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', title: "Delete" do %>
          <i class="fa fa-remove fa-lg"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
