<%= form_for([@week, @week.prays.build]) do |f| %>
  <div class="form-group">
    <%= f.text_area :prayer, class: "form-control" %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>