<div class="container">
<p><%= creative_response.response %></p>
<%= link_to 'Delete Creative Response', [creative_response.week, creative_response],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</div>
