<%= form_for([@week, @week.creative_responses.build]) do |f| %>
  <div class="form-group"> 
    <%= f.text_area :response, class: "form-control" %>
  </div>

  <div class="action text-right">
    <%= f.button class: 'btn btn-success', title: 'Add' do %>
      <i class="fa fa-plus fa-lg"></i>
    <% end %>
  </div>
<% end %>
