<%= form_for([@week, @week.service_ideas.build]) do |f| %>
  <div class="form-group">
    <%= f.text_area :idea, class: "form-control" %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>