<%= form_for([@week, @week.service_ideas.build]) do |f| %>
  <div class="form-group">
    <%= f.text_area :idea, class: "form-control" %>
  </div>

  <div class="action text-right">
    <%= f.button class: 'btn btn-success', title: 'Add' do %>
      <i class="fa fa-plus fa-lg"></i>
    <% end %>
  </div>
<% end %>
