/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";



body {
	height: 100%;
	background: #EBEBEB;
}

#AdminNav {
	background-color: #00516D;
	.navbar-brand {
	  color: white;

	}

	p {
	  color: white;
	  margin-left: 30px;
	}
}
#MainNavBar {
	background-color: #00516D;
  font-family: 'Shadows Into Light Two', cursive;
	.navbar-brand {
	  color: white;
	}
}

#resource-nav {
	width: 100%;
	background-color: white;
	padding: 1%;
	
	h6 {
	  //padding-top: 5px;
	  //margin-left: 5px;
	}
	
}

.resources {
	padding-left: 20px;
	margin-top: 30px;
	font-size: 150%;	
}

.welcome_text {
	color: black;
	text-align: center;
	font-family: 'Shadows Into Light Two', cursive;
  font-size: 150%;
	padding: 1%;

	h6 {
	  margin-top: 0px;
	  margin-bottom: 0px;
	}
}

.mv_box {
	background-color: #009D75;
  //background-color: #9AC15E;
	width: 90%; 
	padding: 15px;
	text-align: center;
	margin-bottom: -10px;
	padding-bottom: 5px;

}	

.memory_verses {
	font-family: 'Roboto', sans-serif;
  color: white;
}

#resource-accordion {
  .btn-group {
	//justify-content: center;
  text-align: center;
  font-family:'Shadows Into Light Two', cursive; 
  font-size: 75%;
  display: flex;
    .btn {
	    //width: 70px;
	    //height: 70px;
      border: 0px;
      //border-radius: 35px;
	    //margin-bottom: 5px;
      background-color: white;
      //background-color: #9AC15E;
      //background-color: #009D75;
	    //padding: 20px;
	    //margin-left: 5px;
      box-shadow: none;
      color: black;
      font-size:100%;
      flex: 1;
	  }
  }
}

#bs-sidebar-navbar-collapse-1 {
	justify-content: center;
	margin-left: 0px;
}

#main {
	background-color: #EBEBEB;
}

#share {
   font-family: 'Shadows Into Light Two', cursive;
    border: 10px solid #ddd;
    background-color: #FFFFFF; 
    background-image: url("CC2.png");
    background-size: contain;
    background-repeat: no-repeat;
  padding-left: 50px;
  //padding-right: 30px;
  //padding-top: 10px;

	width: 100%;
	height: 400px;
	overflow-y: scroll;
}

#talk {
  font-family: 'Shadows Into Light Two', cursive;
  border: 10px solid #ddd;
  background-image: url("DK.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #FFFFFF; 
  padding-left: 50px;
  //padding-right: 50px;
	width: 100%;
	height: 400px;
	overflow-y: scroll;
}

#pray {
    font-family: 'Shadows Into Light Two', cursive;
    border: 10px solid #ddd;
    background-color: #FFFFFF;
    background-image: url("RT.png");
    background-size: contain; 
    background-repeat: no-repeat;
	padding-left: 50px;
  //padding-right: 50px;
	width: 100%;
	height: 400px;
	overflow-y: scroll;
}

#bless {
    font-family: 'Shadows Into Light Two', cursive;
    border: 10px solid #ddd;
    background-color: #FFFFFF; 
    background-image: url("RT.png");
    background-size: contain; 
    background-repeat: no-repeat;
	padding-left: 50px;
  //padding-right: 50px;
  padding-top: 10px;
	width: 100%;
	height: 400px;
	overflow-y: scroll;
}

#read {
  font-family: 'Shadows Into Light Two', cursive;
  border: 10px solid #ddd;
  background-color: #FFFFFF; 
  background-image: url("DK.png");
  background-size: contain;
  background-repeat: no-repeat;
	padding-left: 20px;
	width: 100%;
	height: 400px;
	overflow-y: scroll;
    .read-content {
      //margin-top: 10px;
     }
    p {
     white-space: pre-wrap;
     font-family: 'Roboto', sans-serif; 
    }

}



#faith5buttons {
  justify-content: center;
  text-align: center;
  width: 100%;
	padding: 0px;
  padding-bottom: 5px;
  margin: 0px;
  font-family: 'Shadows Into Light Two', cursive;
  display: inline-block;
}

#share-pill {
	background-image: url("share.png");
  background-color: #EBEBEB;
  width: 50px;
  height: 50px;
  text-align: center;
}

#read-pill {
	background-image: url("READ-5.png");
  background-color: #EBEBEB;
  width: 50px;
  height: 50px;
  margin-left: 3px;
  text-align: center;
  justify-content: center;
}

#talk-pill {
	background-image: url("TALK-4.png");
  background-color: #EBEBEB;
  width: 50px;
  height: 50px;
  margin-left: 3px;
}

#pray-pill {
	background-image: url("PRAY-3.png");
  background-color: #EBEBEB;
  width: 50px;
  height: 50px;
  margin-left: 3px;
}

#bless-pill {
	background-image: url("BLESS-1.png");
  background-color: #EBEBEB;
  width: 50px;
  height: 50px;
  margin-left: 3px;
}

.nav-pills {
	justify-content: center;
  text-align: center;
  }
.nav-pills li {
    a {
      color: white;
    }
}

.table-responsive {
  font-size: 75%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
 
}

.response-card {
  text-align: center;
  font-size: 100%;
  width: 100%;
  border: 10px solid #ddd;
  padding: 2%;
}

#CR {
  white-space: pre-line;
}

.medium-screen-links {
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
}

.lg-screen-sidebar {
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
  //margin-right: 20px;
    .card.a{
      color: black;
    }

    .large-screen-links {
      margin-top: 30px;
    }
}

#accordion {
  font-family: 'Shadows Into Light Two', cursive;

  .a {
    font-color: black;
  }
}

.new-weeks-container {
  background-color: white;
  margin: 20px;
  padding: 2%;
}

.form-inline .form-group {
  margin-left: 10px;
}

form {
  width: 100%;
}

#sidebar {
    overflow: hidden;
    z-index: 3;
}
#sidebar .list-group {
    min-width: 400px;
    background-color: #333;
    min-height: 100vh;
}
#sidebar i {
    margin-right: 6px;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #333;
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
    white-space: nowrap;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #222;
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item  {
  padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item,
#sidebar .list-group .collapse > .collapsing .list-group-item {
  padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}

@media (max-width:768px) {
    #sidebar {
        min-width: 35px;
        max-width: 40px;
        overflow-y: auto;
        overflow-x: visible;
        transition: all 0.25s ease;
        transform: translateX(-45px);
        position: fixed;
    }
    
    #sidebar.show {
        transform: translateX(0);
    }

    #sidebar::-webkit-scrollbar{ width: 0px; }
    
    #sidebar, #sidebar .list-group {
        min-width: 35px;
        overflow: visible;
    }
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
        position: relative;
        z-index: 1;
        width: 190px;
        top: 0;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

.collapse.show {
  visibility: visible;
}
.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.edit-share:focus {
  width: 75%;
}

.page-title {
  background-color: white;
  width: 70%;
  text-align: center;
  font-size: 200%;
  padding: 20px;
}

.page-content {
  background-color: white;
  width: 70%;
  text-align: center;
  font-size: 100%;
  padding: 20px;
}

.content-edit-buttons {
  text-align: right;
}
