/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
	height: 100%;
	background: #EBEBEB;
}

#AdminNav {
	background-color: #4958C8;
	
	.navbar-brand {
	  color: white;
	}

	p {
	  color: white;
	  margin-left: 30px;
	}
}
#MainNavBar {
	background-color: #4958C8;
	.navbar-brand {
	  color: white;
	}
}

#resource-nav {
	width: 100%;
	background-color: white;
	padding: 1%;
	
	h6 {
	  padding-top: 5px;
	  margin-left: 5px;
	}
	
}

.resources {
	padding-left: 20px;
	margin-top: 30px;
	font-size: 150%;	
}

.welcome_text {
	color: black;
	text-align: center;
	font-size: 150%;
	padding: 1%;

	h6 {
	  margin-top: 0px;
	  margin-bottom: 0px;
	}
}

.mv_box {
	background-color: #67C867;
	width: 90%; 
	padding: 15px;
	text-align: center;
	margin-bottom: -10px;
	padding-bottom: 5px;
}	

.memory_verses {
	color: white;
}

.btn-group {
	justify-content: center;
	text-align: center;

	.btn {
	  width: 70px;
	  height: 70px;
	  border-radius: 35px;
	  margin-bottom: 5px;
	  background-color: #4A86E8;
	  padding: 20px;
	  margin-left: 5px;
	}
}

#bs-sidebar-navbar-collapse-1 {
	justify-content: center;
	margin-left: 0px;
}

#main {
	background-color: #EBEBEB;
}

#share {
    border: 10px solid #ddd;
    background-color: #FFFFFF; 
	padding: 40px;
	width: 100%;
	height: 400px;
	overflow-y: scroll;
}

#talk {
    border: 10px solid #ddd;
    background-color: #FFFFFF; 
	padding: 40px;
	width: 100%;
	height: 400px;
	overflow-y: scroll;
}

#pray {
    border: 10px solid #ddd;
    background-color: #FFFFFF; 
	padding: 40px;
	width: 100%;
	height: 400px;
	overflow-y: scroll;
}

#bless {
    border: 10px solid #ddd;
    background-color: #FFFFFF; 
	padding: 40px;
	width: 100%;
	height: 400px;
	overflow-y: scroll;
}

#read {
    border: 10px solid #ddd;
    background-color: #FFFFFF; 
	padding: 40px;
	width: 100%;
	height: 400px;
	overflow-y: scroll;
}

#faith5buttons {
	
	padding: 5px;
	overflow: auto;
}

#share-pill {
	background-color: #6F9CF7;
}

#read-pill {
	background-color: #67C867;
}

#talk-pill {
	background-color: #009688;
}

#pray-pill {
	background-color: #4958C8;
}

#bless-pill {
	background-color: #4A86E8;
}

.nav-pills {
	justify-content: center;
}
.nav-pills li {
    margin-left: 1%;

    a {
      color: white;
    }
}

.table-responsive {
  font-size: 75%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
 
}

.response-card {
  text-align: center;
  font-size: 100%;
  width: 100%;
  border: 10px solid #ddd;
  padding: 2%;
}

.medium-screen-links {
  margin-top: 30px;
}

.lg-screen-sidebar {
  margin-top: 30px;
  margin-right: 20px;


    .large-screen-links {
      margin-top: 30px;
    }
}


#sidebar {
    overflow: hidden;
    z-index: 3;
}
#sidebar .list-group {
    min-width: 400px;
    background-color: #333;
    min-height: 100vh;
}
#sidebar i {
    margin-right: 6px;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #333;
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
    white-space: nowrap;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #222;
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item  {
  padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item,
#sidebar .list-group .collapse > .collapsing .list-group-item {
  padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}

@media (max-width:768px) {
    #sidebar {
        min-width: 35px;
        max-width: 40px;
        overflow-y: auto;
        overflow-x: visible;
        transition: all 0.25s ease;
        transform: translateX(-45px);
        position: fixed;
    }
    
    #sidebar.show {
        transform: translateX(0);
    }

    #sidebar::-webkit-scrollbar{ width: 0px; }
    
    #sidebar, #sidebar .list-group {
        min-width: 35px;
        overflow: visible;
    }
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
        position: relative;
        z-index: 1;
        width: 190px;
        top: 0;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

.collapse.show {
  visibility: visible;
}
.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}


